.home {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: center;

  h1 {
    margin-bottom: 0%;
    text-transform: uppercase;
    font-size: 50px;
  }

  p {
    margin-top: 2%;
    width: 95%;
    font-size: 20px;
    text-align: start;
  }

  .btn-group {
    button {
      background-color: #536f93;
      color: whitesmoke;
      border: none;

      &:hover {
        background-color: #536f93d3;
        border: none;
      }
    }
  }
}
